*{
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  main {
    background-color: rgba(252, 250, 242, 0.336);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: calc(10px + 2vmin);
    color: gray;
    padding: 16px;
    flex: 1;
    }
    h1{
      color: black;
      font-size:calc(16px + 4vmin)
    }
}

.sidebar {
  background-color: rgb(235, 235, 235);
  border: #007bff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 0.25;
  height: 100vh;
  width: 10px;
  list-style-type: none;
  li {
    color: black;
    font-weight: 600;
    font-size: larger;
    padding: 16px;
    width: 100%;
    transition: background-color 0.15s;
    border-radius: 8%;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
      width: 100%;
    }
  }
}

.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 56px;
  height: 56px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 32px rgba(24, 67, 209, 0.5);
  cursor: pointer;
}

.fab-icon {
  font-size: 24px;
  color: white;
  user-select: none;
}

.toDoCreationField input {
  position: fixed;
  bottom: 80px;
  right: 16px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}